form {
  margin: 0px 20px;
  background-color: transparent;
}
.container {
  margin: 30px auto;
}
.card {
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px black;
  color: white;
  font-weight: bold;
  padding: 20px;
  background-image: url(../img/leafpic.jpg);
  background-size: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}
.upperrow {
  padding: 10px 20px;
}
#metrics {
  font-size: 14px;
  position: relative;
  top: -10px;
}
#icon {
  font-size: 27px;
}
.cityDetails {
  text-align: left;
  padding: 20px auto;
}

#present-city {
  font-size: 30px;
}
#present-time,
#present-temperature {
  font-size: 20px;
}
.extraInfo {
  font-size: 20px;
  text-align: right;
  vertical-align: bottom;
  position: relative;
  top: +80px;
}

#city,
#search-button,
#current-position-button,
#code-reference {
  padding: 5px 10px;
  border-radius: 5px;
}

.col {
  text-align: center;
}

#code-reference {
  padding: 20px 10px;
  border-radius: 5px;
  text-align: center;
}
